<style>
    body {
      font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
      color: #fff;
      background-color: #8aba87;
      text-align: center;
      font-size: 40px;
    }
    
    h2 {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    #close {
      color: white;
      opacity: 0.7;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 12px;
      text-decoration: none;
    }
    
    </style>
    
    <h2>Hello World!</h2>
    <a id="close" href="javascript:window.location.href='index.html">Close this Window</a>